.tr {
    width: 100%;
}

.td, .th {
     border: 1px solid #dddddd;
    text-align: center;
    display: inline-flex;
    height: 17px;
    overflow: hidden;
    padding: 3px 1.8%;
    width: 16%;
}

.deleteBtn {
    width: 19.7%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: red;
}

