<div class="container">
  <h1>Animals</h1>
  <div class="animalsTable">
    <div class="table" id="table">
      <div class="thead">
        <div class="tr">
          <div class="th" id="indexId">Id</div>
          <div class="th" id="nameTitle">Name</div>
          <div class="th">Age</div>
          <div class="th">Type</div>
        </div>
      </div>
      <div class="tbody" id="tbody">
        <div class="tr" *ngFor="let animal of animals; index as i">
          <animal-row [animalData]="animal" [index]="i+1"></animal-row>
        </div>
      </div>
    </div>
  </div>
</div>