<div class="container">
  <h1>Animals</h1>
  <form id="form">
      <div class="inputContainer">
          <label for="minimalAge">Minimal Age:</label>
          <input type="number" name="minimalAge" placeholder="Enter minimal number">
          <button id="minimalBtn">Screen by minimal age</button>
      </div>
      <div class="inputContainer">
          <label for="maximalAge">Maximal Age:</label>
          <input type="number" name="maximalAge" placeholder="Enter maximal number">
          <button id="maximalBtn">Screen by maximal age</button>
      </div>
      <div class="inputContainer">
          <button id="ageRangeBtn">Age between minimal and maximal</button>
      </div> 
      <select name="dropdown" id="dropdown"></select>
      <button class="clearFilters">Clear All Filters</button>
  </form>
  <div class="animalsTable">
    <table id="table">
      <thead>
        <tr>
          <!-- <th>ID Number</th> -->
          <th id="nameTitle">Name</th>
          <th>Age</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr *ngFor="let animal of animals">
          <td>{{animal.name}}</td>
          <td>{{animal.age}}</td>
          <td>{{animal.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>