<div class="container">
  <h1>Animals</h1>
  <div class="animalsTable">
    <table id="table">
      <thead>
        <tr>
          <!-- <th>ID Number</th> -->
          <th id="nameTitle">Name</th>
          <th>Age</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr *ngFor="let animal of animals">
          <td>{{animal.name}}</td>
          <td>{{animal.age}}</td>
          <td>{{animal.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>